{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}

{% block body %}
<div class="flex flex-col justify-center items-center h-screen">
    <div id="button-container" class="text-center mt-20">
        <a href="/people"><button id="PeopleButton" class="bg-white-500 hover:bg-gray-200 text-gray-900 font-bold text-4xl py-3 px-8 mb-4 rounded-none border border-gray-900 border-2 sm:text-3xl md:text-4xl lg:text-5xl">People</button></a>
        <a href="/projects"><button id="ProjectsButton" class="bg-white-500 hover:bg-gray-200 text-gray-900 font-bold text-4xl py-3 px-8 mb-4 rounded-none border border-gray-900 border-2 sm:text-3xl md:text-4xl lg:text-5xl">Projects</button></a>
        <a href="/topics"><button id="TopicsButton" class="bg-white-500 hover:bg-gray-200 text-gray-900 font-bold text-4xl py-3 px-8 mb-4 rounded-none border border-gray-900 border-2 sm:text-3xl md:text-4xl lg:text-5xl">Topics</button></a>
    </div>
</div>
{% endblock %}
